<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="9.3.0-preview.1.25114.11" />
  <package id="OllamaSharp" version="5.1.4" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
</packages>